header{
    text-align: center;
}

header > h1 {
    font-size: 1.25rem;
    font-weight: 700;
    color: #F9F4DA;
}

header > p{
    color: #8E8E8E;
}

section.game-status {
    background-color: #10A95B;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F9F4DA;
    border-radius: 4px;
    margin-block: 30px
}

section.game-status > h2{
    font-size: 1.25rem;
    margin: 5px;
}

section.game-status > p {
    margin-top: 5px;
}

div.languages{
    border-radius: 3px;
    padding:0px 10px;
}

section.languages-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 36px;
}

section.word {
    display: flex;
    justify-content: center;
    gap: 2px;
}

section.word > span {
    height: 60px;
    width: 60px;
    background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    border-bottom: 1px solid #F9F4DA;
    
}